<div class="message-container <%= current_user.id == message.user_id ? 'sent' : 'received' %>" id="message-<%= message.id %>">
  <i class="">
    <span><%= current_user.id == message.user_id ? 'You' : message.user.nickname %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><span><%= message.body %><span></p>
</div>


