<div class="body-container">
  <div class="messages-container">
    <div id="messages" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>">

      <% @messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
<!-- TODO: add (press 'enter' to send) functionality -->

    <%= simple_form_for [ @conversation, @message ] do |f| %>
      <%= f.input :body, label: false, placeholder: "Type a message..." %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
