<div class="body-container">
  <div class="messages-container">
    .d-flex.w-1
    <h2 class="conversation-title">
      Chat between You and <%= @conversation.recipient.company_name %>
      <hr>
    </h2>
    <div id="messages" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>">

      <% @messages.each do |message| %>
        <%= render 'messages/message', message: message, name: current_user.id == message.user_id ? 'You' : message.user.nickname %>
      <% end %>
    </div>

    <!-- FYI 20/6/21 input_html autofocus is what works on safari, NOT the JS -->
    <div class="form-container">
      <div class="message-submit">
        <%= simple_form_for [ @conversation, @message ], wrapper: :inline_form, id: 'form' do |f| %>
          <%= f.input :body, label: false, placeholder: "Type a message...", id: "chat-input", autofocus: true  %>
          <%= f.submit class: 'chat-button' %>
        <% end %>
      </div>
    </div>
    <% if @pet.present? %>
      <span><%= link_to "Book a play date with #{@pet.name}", new_pet_enquiry_path(@pet), class: 'back d-inline-block w-100 mt-2' %></span>
    <% end %>
  </div>
</div>
