<div class="body-container">
    <div class="title-container">
      <div class="conversation-title">
        <%= link_to "Back", profile_path, class: "back chat-back" %>
        <h4>Your chat with <%= @conversation.recipient.company_name %></h4>
        <% if @pet.present? %>
          <span class='booking-btn'><i class="far fa-calendar-alt"></i><%= link_to " Book a play date with #{@pet.name}", new_pet_enquiry_path(@pet) %></span>
        <% end %>
      </div>
    </div>
  <div class="messages-container">
    <div id="messages" data-conversation-id="<%= @conversation.id %>" data-current-user-id="<%= current_user.id %>">

      <% @messages.each do |message| %>
        <%= render 'messages/message', message: message, name: current_user.id == message.user_id ? 'You' : message.user.nickname %>
      <% end %>
    </div>

    <!-- FYI 20/6/21 input_html autofocus is what works on safari, NOT the JS -->
    <div class="form-container">
      <div class="message-submit">
        <%= simple_form_for [ @conversation, @message ], wrapper: :inline_form, id: 'form' do |f| %>
          <%= f.input :body, label: false, placeholder: "Type a message...", id: "chat-input", autofocus: true  %>
          <%= f.submit class: 'chat-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
