<div id="pet-container">
  <h1>Can you offer these pets a loving home? </h1>


  <% @pets.each do |pet| %>
    <div class="pet-card-container" data-aos="fade-up-right">
        <%# <% pet.photos.each do |photo| %>
      <div class="pet-card">
        <div class="left-card">
            <div img-container>
            <%= cl_image_tag pet.photos.first.key, height: 350, width: 350, crop: :fill, :class=> 'img-container'%>
            </div>
        </div>
        <div class="right-card">
          <% if current_user && current_user.species != "no preference" %>
            <p id="matching" style="color:#ea907a; font-weight: bold;"><%= pet.match_pets(current_user) %>%</p>
          <% end %>
            <p><%= pet.address %></p>
            <p><%= pet.name %></p>
            <p><%= pet.breed %></p>
            <p><%= pet.age %></p>
            <p><%= pet.description %></p>
            <p><%= pet.status.capitalize %></p>
            <p>Adoption fee: <%= pet.cost %></p>
            <p><%= pet.user.company_name.presence || pet.user.first_name %> </p>
            <%= link_to "View pet", pet_path(pet.id), :style=>'text-decoration: none; color:#ea907a'%>
        </div>
      </div>
    </div>
    <%end%>
</div>
