<h1>Can you offer these dogs a loving home? </h1>

<div class="container">
<p><% @pets.each do |pet| %></p>
<p>-------------------------</p>
<% if current_user %>
  <p style="color:red"><%= pet.match_pets(current_user) %></p>
<% end %>
<p><%= pet.address %></p>
<p><%= pet.name %></p>
<p><%= pet.breed %></p>
<p><%= pet.age %></p>
<p><%= pet.description %></p>
<p><%= pet.status.capitalize %></p>
<p>Adoption fee: <%= pet.cost %></p>
<p><%= pet.user.company_name.presence || pet.user.first_name %> </p>
<%= link_to "View pet", pet_path(pet.id)%>
<%end%>

</div>
