<div id="pet-show-container" style="width: 1200px; margin: auto; padding-top: 20px;">


  <div id="pet-image-container">
    <div>
      <%= link_to "Back to pets", pets_path, class: "back" %>
      
    </div>
    <br>
    <div class="pet-show-title" style="display:flex; justify-content:space-between;">
        <h1>Meet <%= @pet.name %></h1>
        <div class="add-favorite" style="float: right;">
          <% if FavoritePet.where(user: current_user, pet: @pet).any? %>
              <i class="fas fa-heart favourite-button"></i>
          <% else %>
            <%= link_to pet_favorite_pets_path(@pet), method: 'post' do %>
              <i class="far fa-heart favourite-button"></i>
            <% end %>
          <% end %>
        </div>
    </div>
      <br><br>
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" >

      <!--Controls-->

     
      
      
      <div class="controls-top">
        
        
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <div class="carousel-wrapper" >
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <div class="carousel-inner" role="listbox">
          <% slice = @pet.photos.each_slice(3).to_a %>
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="mb-2 pet_image" style="background-image: url('<%= cl_image_path slice.first.first.key %>')">
                </div>
              </div>
              <% slice.first[1..-1].each do |photo| %> 
                <div class="col-md-4 clearfix d-none d-md-block"> 
                  <div class="mb-2 pet_image" style="background-image: url('<%= cl_image_path photo.key %>')">
                  </div>
                </div>
              <%end%>
            </div>
          </div>
          <% slice[1..-1].each do |min_slice| %>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-2 pet_image" style="background-image: url('<%= cl_image_path min_slice.first.key %>')">
                  </div>
                </div>
                  <% min_slice[1..-1].each do |photo| %> 
                    <div class="col-md-4 clearfix d-none d-md-block"> 
                      <div class="mb-2 pet_image" style="background-image: url('<%= cl_image_path photo.key %>')">
                      </div>
                    </div>
                  <%end%>   
                </div>
              </div>
          <% end %>
        </div>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Slides-->
    </div>
  

    <%# <div>
      <% @pet.photos.each do |photo| %>
        <%# <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <%# <%end%>
    <%# </div> %>
    <div style="display: flex; justify-content: space-between; col-12 col-lg-8; margin-top: 24px; margin-bottom: 24px">
      <div style="font-weight: 300; font-size: 13px; padding-right: 36px; margin-top: 24px">
      <br><br>
        <h4 style="font-size: 22px;">About me</h4>
        <hr>
        <div class="pet-show-about">
          <ul>
            <li style="font-size:14px; font-weight:bold"><%= @pet.breed.capitalize %></li>
            
            
           <li><%= @pet.age %><%= @pet.age > 1 ? ' years old' : ' year old' %></li>
            
            
           <li><%= @pet.sex.capitalize%></li>
            
            
          </ul>
        </div>
        <br><br>
        <div>
          <hr>
          
          <p style="font-style: italic; font-size: 14px;"><%= @pet.description %></p>
          <hr>
          <p>(*) To meet <%= @pet.name %> chat with <%= @pet.user.company_name %></p>
        </div>
        <br>

        
      </div>

      <div class="pet-info-show-2 col-12 col-lg-5 d-flex flex-column" >
        <div class="adopt-style">
          <h4 style="font-size:12px; font-weight:lighter">Availability:</h4>
          <% if @pet.status == "available" %>
            <p><i class="fas fa-check" style="color: #FFCB74"></i></p>
          <% else %>
            <p><i class="fas fa-times" style="color: #FFCB74"></i><p>
          <% end %>
        </div>
        <hr class="w-100">
          <div class="adopt-style">
            <h4 style="font-size:12px; font-weight:lighter">Adoption Fee:</h4>
            <p>£<%= @pet.cost %></p>           
          </div>
          <hr class="w-100">
          <div class="adopt-style">
            <h4 style="font-size:12px; font-weight:lighter">Adoption Centre:</h4>
            <p><%= @pet.user.company_name %></p>
          </div>
          <br>
          <div class="adopt-style">
            <h4></h4>
            <p style="font-weight:normal;"><%= @pet.address %></p>
            
          </div>
          <hr class="w-100">
          <!-- for post request, use simple form for. We WERE using wrong params -->
            <div class="d-flex justify-content-between align-items-end flex-grow-1">
              <p class='booking-btn mb-0'><i class="far fa-calendar-alt"></i><%= link_to " Book a play date", new_pet_enquiry_path(@pet) %></p>
              <%= simple_form_for Conversation.new do |f| %>
                <%= f.hidden_field :recipient_id, value: @pet.user.id %>
                <%= f.submit "Chat with the owner" %>
              <% end %>
            </div>
      </div>
    </div>
    <div class="pet-info-show" >
          
          <div style="display: flex; justify-content: space-between; col-12 col-lg-6; font-weight: 300; font-size: 13px;"  class="pet-show-important">
            <ul>
             <li><i class="fas fa-seedling"></i>
                <% if @pet.garden == true %>
                  <%= "I need a garden" %>
                <% else %>
                  <%= "I can live in an apartment" %>
                <%end%>
             </li>
              <br>
              <li><i class="fas fa-baby"></i>
                <% if @pet.other_children == true %>
                  <%= "I can live with children" %>
                <% else %>
                  <%= "Sorry I'm not suitable to live with children :(" %>
                <%end%>
              </li>
                  <br>
              <li><i class="fas fa-cat"></i>
                <% if @pet.other_pets == true %>
                  <%= "I love to live with other pets" %>
                <% else %>
                  <%= "Im not great with other pets" %>
                <%end%>
              <br>
              </li>
            </ul>
            <div>
              <ul >
                <li> <i class="fas fa-first-aid"></i>
                  <% if @pet.special_needs == true %>
                    <%= "I require extra care. Please ask my carer for details" %>
                  <% else %>
                    <%= "I do not require any special care" %>
                  <%end%>
                </li> 
                <br>
                <li><i class="fas fa-home"></i>
                  <% if @pet.available_time == 1 %>
                    <%= "I can be left unattended up to 3 hours per day" %>
                  <% elsif @pet.available_time == 2 %>
                    <%= "I can be left unattended up to 6 hours per day" %>
                  <% elsif @pet.available_time == 3 %>
                    <%= "I can be left unattended up to 10 hours per day" %>
                  <% elsif @pet.available_time == 4 %>
                    <%= "I can be left unattended for more than 10+ hours per day" %>
                  <%end%>
                </li>
                <br>
                <li><i class="fas fa-dog"></i> Can be pet tested </li>
                <br>
              </ul>
            </div>
          </div>  
        </div>
      <div>
    </div>
  </div>  
</div>
<div style="margin-top:0px; font-weight: 400;" class="slider-container">
  <h1>More Pets Like <%= @pet.name %></h1>
  <%= render 'shared/carousel' %>
</div>
