<div style="margin: 120px 150px 24px 48px;">
    <%= link_to "Back to pets", pets_path, class: "back" %>
</div>
  <div class="container-profile" style=" margin: 0px 150px 0px 0px;padding: 0px; display:flex; justify-content:flex-start;">
    <div class="profile-banner flex-shrink-0 sticky-top">
      <div class="profile-img">
        <%= cl_image_tag current_user.photo.key, height: 150, width: 150,  crop: :fill %>
      </div>
      <div class="profile-info">
        <div id="profile-name">
          <span><%= current_user.first_name %></span>
          <span><%= current_user.last_name %></span>
        </div>
        <div id="profile-info-text">
          <p><%= current_user.email %></p>
          <p><%= current_user.address %></p>
          <p style="padding-top: 12px;">Hey, I'm Linda! My partner and I are really interested in adopting a rescue dog. We're a family of 4 with 2 young children and plenty of outdoor space. I've come to Pawsome to find the perfect pooch, and give them a perfect home.</p>
        </div>
      </div>
    </div>
    <div class="profile-right">
      <nav style="max-height: 60px;">
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
          <a class="nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Favourite Pets</a>
          <a class="nav-link <%= 'tab-new' if current_user.unread_messages > 0 %>" id="nav-profile-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">Conversations</a>
          <a class="nav-link " id="nav-home-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Playdates</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade " id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <h2>Your Playdates</h2>
          <hr>
          <% current_user.enquiries.each do |enquiry| %>
            <div>
              <div class=" enquiry mb-2">
                <div class="enquiry-img">
                  <%= cl_image_tag enquiry.pet.photos.first.key, height: 150, width: 150, crop: :fill, :class=> 'round-img'%>
                </div>
                <div>
                  <%= link_to enquiry.pet.name, pet_path(enquiry.pet), :class => "back"%>
                  <h4>Visit date: <strong><%= enquiry.date.strftime('%A, %d %b %Y %l:%M %p') %></strong></h4>
                  <h4>Location: <strong><%= enquiry.pet.user.address %></strong></h4>
                  <p style= "font-size: 12px; font-style: italic; margin-top:16px;"><%= enquiry.pet.description %></p>
                  <%= simple_form_for Conversation.new do |f| %>
                    <%= f.hidden_field :recipient_id, value: enquiry.pet.user.id %>
                    <%= f.submit "Back to Chat with #{enquiry.pet.user.company_name}" %>
                  <% end %>
                </div>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
        <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <h2>Your Conversations</h2>
          <hr>
          <ul class="conversation-list">
            <% @conversations.each do |c| %>
              <div class= "conversation container border">
                <% if c.messages.any? %>
                  <h4 class="conversation-link"><strong> <%= link_to c.recipient.company_name, conversation_path(c.id) %></strong> </h4>
                  <% if c.messages.last.user_id == current_user.id %>
                    <%= link_to "You wrote: #{c.messages.last.body}", conversation_path(c.id),class: "back last-msg" %>
                  <% else %>
                    <%= link_to "#{c.messages.last.user.nickname} wrote: #{c.messages.last.body}", conversation_path(c.id), class: "back last-msg" %>
                  <% end %>
                <% else %>
                  <p><%= link_to "This is a brand new conversation", conversation_path(c.id) %></p>
                <% end %>
              </div>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <h2>Your favourite pets</h2>
          <hr>
          <div class ="favourite-container">
            <% @favorite_pets.each do |f| %>
              <div class=" favourite-card">
                <%= cl_image_tag f.pet.photos.first.key, height: 150, width: 150, crop: :fill, :class=> 'round-img'%>
                <div>
                  <h3 class="mb-1 mt-2"><%= f.pet.name %> </h3>
                  <p style="font-size: 14px; font-weight: bolder; margin-bottom: 0px;"><%= f.pet.breed %></p>
                  <p style="font-size: 12px; font-weight: lighter; margin-bottom: 14px;"><%= f.pet.age %><%= f.pet.age > 1 ? ' years old' : ' year old' %></p>
                  <%= link_to 'View pet', pet_path(f.pet), class: 'more-info' %>
                </div>
              </div>
              <hr>
            <% end %>
          </div>
        </div>
      </div>
     </div>
  </div>



