
  <div class="controls">
    <button class="prev">
      <i class="fas fa-chevron-left"></i>
    </button>
     <button class="next">
      <i class="fas fa-chevron-right">  </i>
    </button>
  </div>
  <div class="my-slider">
    <% @selected_pets.each do |pet| %>
      <div class="slider-item">
        <div class="s-card">
          <%= link_to pet_path(pet.id) do %>
            <%= cl_image_tag pet.photos.first.key, :class=> 's-img-container'%>
          <% end %>
          <div id="s-name">
            <%= pet.name%>
          </div>
          <div class="s-pet-info">
            <p style="font-size: 13px; font-weight: bolder; margin-bottom: 0px;"><%= pet.breed %></p>
            <p style="font-size: 11px; margin-bottom: 6px;"><%= pet.user.company_name.presence || pet.user.first_name %></p>
            <div style=" display: flex; justify-content: space-between;">
              <p style="font-size: 11px; font-weight: lighter; margin-bottom: 0px"><%= pet.age %> years old</p>
              <p style="font-size: 12px; font-weight: bolder; text-align: right ; margin-bottom: 0px">£<%= pet.cost %></p>
            </div>

          </div>
        </div>
      </div>
    <% end %>
    </div>
  <div class="dots" style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>





